{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EduTrack{% endblock %} | EduTrack</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'home' %}" class="brand">📚 EduTrack</a>
        <div class="nav-links">
            <a href="{% url 'home' %}">Home</a>
            {% if user.is_authenticated %}
                {% if user.is_student_role %}
                    <a href="{% url 'exams:my_results' %}">My Results</a>
                {% endif %}
                {% if user.is_teacher_role %}
                    <a href="{% url 'attendance:mark_attendance' %}">Attendance</a>
                {% endif %}
                {% if user.is_staff %}
                    <a href="/admin/">Admin Panel</a>
                {% endif %}
                {% comment %} <a href="{% url 'users:logout' %}">Logout ({{ user.username }})</a> {% endcomment %}
                <form method="POST" action="{% url 'users:logout' %}" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="logout-btn" 
                     style="
                     .logout-form {
                        display: inline;
                    }

                    .logout-btn {
                        background: none;
                        border: none;
                        color: white;
                        padding: 8px 16px;
                        border-radius: 20px;
                        font-weight: 600;
                        font-size: 1rem;
                        font-family: inherit;
                        cursor: pointer;
                        transition: all 0.3s ease;
                    }

                    .logout-btn:hover {
                        background: rgba(255, 255, 255, 0.2);
                    }
                    ">Logout ({{ user.username }})</button>

                </form>
            {% else %}
                <a href="{% url 'users:login' %}">Login</a>
                <a href="{% url 'users:register' %}">Register</a>
            {% endif %}
        </div>
    </nav>

    <main class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        &copy; 2026 EduTrack School Management System
    </footer>
</body>
</html>
